/* Created by: Yoochan
* Created on: Mar 2024
* This file contains the CSS for index.html
*/
body {
  background-color: white;
}

p {
  position: inherit;
  font-size: 2rem;
  color: black;
}

.text-box {
  position: relative;
  left: 30px;
}

h2 {
  color: darkgreen;
  font-style: oblique;
}

#TheAnswer {
  position: relative;
  left: 5%;
}

.right-image {
  position: relative;
  width: 50%;
  height: 50%;
  float: right;
  right: 80px;
}